.header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer {
  margin-top: auto; 
  height: 40px;
}

html {
  height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
}

#root {
  height: 100%;
}